*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link{
    color: rgb(0, 177, 182);
    font-weight: bold;
    margin-left: 20px;
    font-size: 20px;
}
.home-bg{
    background-color: rgb(0, 177, 182);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.image{
    padding-left: 30px;
}
.image img{
    width: 100px;
}
.home-text h3{
    font-size: 40px;
    font-weight: bolder;
    line-height: 35px;
    text-align: center;
}
.home-text h3 span{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
.button {
    padding: 8px 10px;
    border: none;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #2C9CAF;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2C9CAF;
    margin-top: 7px;
}
.button:hover {
    color:  #FFFFFF;
    transform: scale(1.1);
    outline: 2px solid #70BDCA;
    box-shadow: 4px 5px 17px -4px #268391;
}
.button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2C9CAF;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}
.button:hover::before {
    width: 250%;
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    margin-top: -20px;
}
.group input{
    padding: 10px 0px 10px 50px;
}
.form-control:focus {
    border-color: white;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: inset 0 1px 1px rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255);
  }
.group input:active{
    border: 0;
    outline: 0;
}
.group i{
    top: 14px;
    left: 13px;
    font-size: 20px;
    color: rgb(0, 177, 182);
}
.group button{
    padding-left: 50px;
    padding-right: 50px;
    background-color: #A6E4E6;
    color: rgb(0, 177, 182);
    font-weight: bold;
    border: 0;
  }
.info-div{
    background-color: white;
    padding: 30px 0px 30px 0px;
  }
.info-text{
    text-align: center;
}
.info-text h3{
    color: rgb(0, 177, 182);
    font-weight: bold;
}
.info-boxes{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.info-box{
   margin-right: 50px;
   margin-left: 50px;
   display: flex;
   justify-content: space-between;
}
.info-box h3{
   font-size: 15px;
   font-weight: bold;
}
.info-box p{
   font-size: 13px;
}
.info-box .info-box-image{
   margin-left: 30px;
}
.info-box img{
   width: 60px;
}
.info-box button{
    padding: 6px 40px;
    background-color: rgb(0, 177, 182);
    border: 0;
    border-radius: 50px;
}
.color-bold{
    color: rgb(0, 177, 182);
    font-size: 28px;
    font-weight: bold;
}
.test-yourself-div{
    background-color: rgb(0, 177, 182);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 50px;
}
.test-yourself-image img{
    width: 100px;
}
.test-yourself-text button{
    padding: 8px 40px;
    border: 0;
    border-radius: 50px;
}
.symptoms{
    padding: 50px 0;
}
.symptoms-divs{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.symptoms-icon{
    background-color: rgb(0, 177, 182);
    border-radius: 100%;
    width:85px;
    height: 85px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}
.symptoms-icon img{
    margin-top: 5px;
    width:65px;
    margin-left: 10px;
}
.symptoms-text{
    padding: 7px 10px;
    margin: 0px 3px;
    background-color: rgb(0, 177, 182);
}
.symptoms-text p{
    font-size: 10px;
}
.patient-care-divs{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.patient-care-div{
    background-color: rgb(0, 177, 182);
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 320px;
    border-radius: 10px;
}
.patient-care-div h3{
    font-weight: bold;
    color: white;
}
.patient-care-div p{
    font-size: 22px;
    padding-right: 46px;
    padding-top: 10px;
}
.patient-care-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.patient-care-btn button{
    margin: 40px 0px 20px 0;
    padding: 6px 40px;
    background-color: rgb(0, 177, 182);
    border: 0;
    border-radius: 50px;
}
.stay-away-section-div{
    padding: 30px 20px;
    background-color: white;
}
.stay-away-divs{
    display: flex;
    justify-content: space-between;
}
.stay-away-div-image img{
    width: 360px;
}
.text-right{
    text-align: right;
}
.padding-left{
    padding-left: 50px;
}
.padding-right{
    padding-right: 170px;
}
.padding-top{
    padding-top: 20px;
}
.padding-bottom{
    padding-bottom: 20px;
}
.text-bold{
    font-weight: 550;
}
.what-we-do{
    padding: 50px 0px;
}
.what-we-do-divs{
    margin-top: 40px;
    background-color: rgb(0, 177, 182);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 20px;
}
.what-we-do-img{
    width: 110px;
    height: 110px;
    background-color: #2C9CAF;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.what-we-do-img img{
    width: 80px;
}
.what-we-do-div h3{
    margin-top: 20px;
    color: white;
    font-weight: 500;
    font-size: 24px;
}
.last-section-divs{
    background-color: white;
    padding: 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.last-section-divs h3{
    font-size: 25px;
    color: rgb(0, 177, 182) ;
}
.last-section-divs p{
    font-size: 20px;
    padding-right: 20px;
}
.last-section-div{
    margin: 0px 30px;
}
.site-footer
{
    margin-top: 40px;
  background-color:rgb(0, 177, 182);
  padding:45px 20px;
  font-size:15px;
  line-height:24px;
  color:black;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:black;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
/* @media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
 */
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 450px;
    margin: auto;
    box-shadow: 0px 0px 15px #00000027;
    padding: 15px 10px;
    border-radius: 5em;
  }
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 20px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
  }
  .social-button:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 6px 3px #00000027;
  }
  .social-buttons svg {
    transition: 0.3s;
    height: 20px;
  }
  .facebook {
    background-color: #3B5998;
  }
  .facebook svg {
    fill: #F2F2F2;
  }
  .facebook:hover svg {
    fill: #3B5998;
  }
  .github {
    background-color: #333;
  }
  .github svg {
    width: 25px;
    height: 25px;
    fill: #F2F2F2;
  }
  .github:hover svg {
    fill: #333;
  }
  .linkedin {
    background-color: #0077B5;
  }
  .linkedin svg {
    fill: #F2F2F2;
  }
  .linkedin:hover svg {
    fill: #0077B5;
  }
  .instagram {
    background-color: #C13584;
  }
  .instagram svg {
    fill: #F2F2F2;
  }
  .instagram:hover svg {
    fill: #C13584;
  }
.about
{
    display: inline-block;
}
.about p
{
    padding-right: 80px;
}
.about h6
{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;

}
.icon
{
    display: inline-block;
}
.fade-in {
    animation: fade-in 0.5s ease-in-out forwards;
  }
  
  .fade-out {
    animation: fade-out 0.5s ease-in-out forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  


 /* centers css  */

 .centers{
  padding: 40px 0px 40px 0;
 }
 .centers-text h3{
    font-size: 30px;
    font-weight: bolder;
    line-height: 35px;
}

.main-body{
  display: flex;
  /* height: 500px; */
  padding-top: 50px;
}
 .sidebar{
  flex: 0.2;
  border:2px solid rgb(0, 177, 182);
  max-width: 250px;
  padding: 30px 0px 0px 30px;
  margin-bottom: 20px;
}

.email-list{
  margin-left: 30px;
    flex: 1;
}
.center-div{
  border:2px solid rgb(0, 177, 182);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
label{
  color: rgb(0, 177, 182);
  font-weight: bold;
  font-size: 17px;
}
.city{
  margin-bottom: 10px;
}

.center-div-img img{
  width: 150px;
}

/* center detail page */





.detail-body{
  display: flex;
  /* height: 500px; */
  padding-top: 50px;
}
 .adress-sidebar{
  flex: 0.4;
  border:2px solid rgb(0, 177, 182);
  max-width: 250px;
  padding: 30px 0px 0px 30px;
  margin-bottom: 20px;
}

.center-list{
  margin-right: 20px;
    flex: 1;
    background-color: rgb(0, 177, 182);
    padding: 10px;
    padding-bottom: 50px;
    color: white;
}
.center-detial-div{
  padding: 10px 0 10px 0;
}
.center-detial-div h3{
  font-size: 35px;
}
.center-detail-image{
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-detail-image img{
  width: 350px;
}
.center-detail-images{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-bottom: 05px;
}
.center-detail-images .images{
  padding: 20px 50px 0 50px;
  border: 2px solid rgb(0, 177, 182);
  margin-right: 2px;
  margin-left: 2px;
}
.center-detail-images img{
  width: 180px;
}
.desc-text{
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom:10px;
  background-color: rgb(255, 255, 255);
  width: 150px;
}
.desc-text h3{
  font-size: 20px;
  text-align: center;
  color: black;
}
.desc-detail{
  background-color: white;
  color: black;
  padding: 20px;
}
.t-limit{
  padding-top: 10px;
}